@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --font-family-base: 'Space Grotesk', sans-serif;
}

body {
  @apply font-family-base bg-background-light text-shadow-slate-900 dark:bg-background-dark dark:text-slate-100;
}

/* Header */
/* Navbar */
/* Hamburguer Menu */
.bar {
  @apply w-9 h-1 rounded-md bg-background-dark dark:bg-background-light;
}